{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Habits</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="habitpy.me" style="width: 50%; height: 20%;">
            </div>
            <a href="{% url 'habit_list' %}" class="edit-link">Add or Edit</a>
            <a href="{% url 'export_csv' %}" class="export-button">Export to CSV</a>
            <a href="{% url 'export_pdf' %}" class="export-button">Export to PDF</a>
        </div>
        <div class="content">
            <div class="left-panel">
                <form method="POST">
                    {% csrf_token %}
                    <label for="month">Month:</label>
                    <input type="month" id="month" name="selected_month" value="{{ selected_month }}" onchange="this.form.submit()">
                </form>
                <ul class="habit-list">
                    {% for habit in habits %}
                    <li><a href="#" data-habit-id="{{ habit.id }}" onclick="selectHabit(this);">{{ habit.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="center-panel">
                <img src="{% static 'images/joga.png' %}" alt="from: pixabay.com" class="center-image">
            </div>
            <div class="right-panel">
                <form method="POST" id="habit_form">
                    {% csrf_token %}
                    <input type="hidden" name="habit_id" id="habit_id" value="{{ selected_habit.id }}">
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="selected_date" value="{{ selected_date }}" onchange="this.form.submit()">
                    </div>
                    <div class="form-group">
                        <label for="completion_count">Completion:</label>
                        <input type="number" id="completion_count" name="completion_count" value="{% if selected_habit and completions %}{{ completions.first.completion_count }}{% else %}0{% endif %}">
                    </div>
                    <button type="submit">Save</button>
                </form>
                <p>Selected Date: {{ selected_date_formatted }}</p>
            </div>
        </div>
        <div class="bottom-panel">
            <div class="chart-container">
                <canvas id="habitChart"></canvas>
            </div>
        </div>
    </div>
<script>
    const ctx = document.getElementById('habitChart').getContext('2d');
    const habitChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: Array.from({ length: new Date("{{ selected_month|date:'Y' }}", "{{ selected_month|date:'m' }}", 0).getDate() }, (_, i) => i + 1),
            datasets: [{
                label: '{{ selected_habit.name }}',
                data: [
                    {% for completion in completions %}
                        {{ completion.completion_count }},
                    {% endfor %}
                ],
                borderColor: 'rgba(0, 255, 0, 1)',
                backgroundColor: 'rgba(0, 255, 0, 0.1)',
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 200
                }
            }
        }
    });

    // Function to handle form submission
    function submitForm() {
        document.getElementById('habit_form').submit();
    }

    // Function to handle habit selection
    function selectHabit(element) {
        event.preventDefault();
        const habitId = element.dataset.habitId;
        document.getElementById('habit_id').value = habitId;
        submitForm();
    }

    // Automatically submit the form when month is changed
    document.getElementById('month').addEventListener('change', function() {
        this.form.submit();
    });

    // Automatically submit the form when date is changed
    document.getElementById('date').addEventListener('change', function() {
        this.form.submit();
    });
</script>

</body>
</html>